/*global styles*/

* { 
    box-sizing: border-box; 
    margin: 0 auto; 
    padding: 0 auto; 
    list-style-type: none 
  }

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

body{ font-family:'Source Code Pro', 'Merriweather','Oswald', sans-serif; }


/*main styles*/

.container {
   max-width: 1280px; 
   margin: 10px auto 0; 
   background-color: #f0f8ff;
 }

.container .header {
  background-color:#060606; 
  text-align: center; 
  border-bottom: 4px solid #FBDC3C; 
  padding-top: 1px;
}

.container .header h1 {
  float: left;
}

.container .header h1 a { 
  font-size: 30px; 
  color: white; 
  padding: 20px 0 0 25px;
  text-decoration: none; 
  float: left;
  display: inline-block;
  font-family: merriweather;
}

.container .header .nav a:hover {
  color: #EC4945;
}

.container .header .nav { 
  float: right;
}

.container .header .nav ul li a { 
  float: right; 
  color: white; 
  text-decoration: none; 
  padding:0px 5px; 
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 16px;
}  

.container .header .nav ul li {
  display: inline-block;
}

.container .nav .selected:link {
  background-color: grey;
  padding: 25px 15px;
  margin-bottom:-3px;
}

.container1 ul li {
  display: inline-block;

}
.container1 .profiles {
   margin: 5px 0;
   padding: 0;
   text-align: center;
}

.container1 .profiles li{
  background-color: white;
  margin: 5px 5px;
}

.container1 .profile {
  background-color: #DCE4E0;
  width: 280px;
  height: 280px;
  line-height: 295px;
  margin:10px;
  padding: 5px;
}

.container1 .profile-info { 
  margin: 10px; 
  padding: 5px;
  text-align: left;
}

.container1 p{
  margin: 10px;
  font-size: 18px;
  font-family: sans-serif;
  padding-right: 140px;
}

.container1 ul li a {
  background-color: #434142;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  padding: 5px 15px; 
  line-height: 2;
  margin: 10px 0;
  display: inline-block;
}

.container1 .profiles li .button1 {
  background-color: #EC4945;
  width: 265px;
  margin: 0 0 10px 0;
  padding: 12px 0;
  border-radius: 7px;
  font-family: oswald;
}

.footer p {
  background-color: #434142;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 1280px;
}
